.calendario-dispon-dias {
    // Flex
    display: flex;

    .calendario-dispon-dia {
        $tm: 100% / 14;

        // Flex
        flex: $tm;
        flex-shrink: 1;
        flex-grow: 0;

        // Tamanho
        box-sizing: border-box;

        // Margens
        padding: 0;
        margin: 0;
    }
}