.calendario-dispon-data {
    // Texto
    font-weight: 600;
    text-align: center;

    // Alinhamento
    vertical-align: middle;

    // Margens
    padding: 0 6px;

    // Visual
    border-bottom: 1px solid #DDD;
}