.upload-arquivos {
    // Tamanho
    width: 100%;
    height: 300px;

    // Visual
    background: #FFF;
    border: 3px dashed #EEEE;

    // Posicionamento
    position: relative;

    &-campo {
        // Tamanho
        width: 100%;
        height: 100%;

        // Visual
        display: block;
    }

    &-label {
        // Texto
        color: #AAA;
        font-size: 18px;
        text-align: center;

        // Tamanho
        width: 100%;

        // Visual
        display: inline-block;
        cursor: pointer;
        opacity: .25;

        // Posicionamento
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;

        // Transformar
        transform: translate(-50%, -50%);

        &::before {
            // Conteúdo
            content: '\e9c3';

            // Texto
            font-family: icomoon;
            font-size: 100px;

            // Visual
            display: block;
        }
    }

    &-preview {
        $b-radius: 3px;

        // Posicionamento
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;

        // Visual
        overflow-y: auto;
        @extend %flex-box;

        // Tamanho
        width: 100%;
        height: 100%;

        > .arquivo-preview {
            @extend %flex-box-mp-col-3;
            @extend %flex-box-pq-col-6;
            @extend %flex-box-md-col-6;
            @extend %flex-box-gd-col-3;
            @extend %flex-box-mg-col-3;
        }
    }

    [type="file"] {
        // Posicionamento
        // position: fixed;
        // top: -999px;
        // left: -999px;
        // z-index: -1;

        // Visual
        visibility: hidden;
    }
}