.midia-quarto {
    $b-radius: 3px;

    // Tamanho
    height: 220px;

    // Margens
    margin-top: 10px;
    margin-bottom: 10px;

    // Visual
    border: 5px solid #FFF;
    border-radius: $b-radius;
    box-shadow: 0 0 4px rgba(black, .15);

    // Posicionamento
    position: relative;

    // Transição
    transition: all .5s;

    &::after {
        // Conteúdo
        content: '';

        // Visual
        display: block;
        background: rgba(white, .7);
        opacity: 0;

        // Tamanho
        width: 100%;
        height: 100%;

        // Posicionamento
        position: absolute;
        top: 0;
        left: 0;

        // Transições
        transition: opacity .5s;
    }

    > .link-excluir {
        // Posicionamento
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;

        // Transformar
        transform: translate(-50%, -50%) scale(1.3);

        // Visual
        opacity: 0;

        // Transição
        transition: opacity .25s;
    }

    &:hover {
        &::after, > .link-excluir {
            // Visual
            opacity: 1;
        }
    }

    > figure, > video {
        // Tamanho
        width: 100%;
        height: 100%;

        // Margens
        margin: 0;

        // Visual
        overflow: hidden;

        // Posicionamento
        position: relative;

        // Visual
        background: rgba(gray, .1);
        border-radius: $b-radius;
    }

    > figure {
        > img {
            // Tamanho
            max-width: none;
            height: 100%;
            object-fit: cover;

            // Posicionamento
            position: absolute;
            top: 50%;
            left: 50%;

            // Transformar
            transform: translate(-50%, -50%);
            
            // Visual
            border-radius: $b-radius;
        }
    }
}