@import "../../../vendor/painel-dlx/ui-painel-dlx/css/componentes/barra-lateral/__barra-lateral";

.info-reserva {
    @extend .__barra-lateral;

    // Margens
    padding: 4px 10px;

    &-botoes {
        $mg-bloco-vert: 10px;
        $mg-btn-vert: 5px;

        // Texto
        text-align: center;

        // Margens
        padding-top: $mg-bloco-vert;
        margin-top: $mg-bloco-vert;

        // Visual
        border-top: 1px solid #e9e9e9;

        > .botao-salvar,
        > .botao-cancelar {
            // Visual
            display: block;

            // Margens
            margin: auto;
        }

        > .botao-salvar {
            // Margens
            margin-bottom: $mg-btn-vert;
        }

        > .botao-cancelar {
            // Margens
            margin-top: $mg-btn-vert;
        }
    }

    &-rotulo {
        // Visual
        display: block;

        // Texto
        color: #32909F;
    }

    &-linha {
        // Visual
        display: flex;
    }

    &-dado {
        // Flex
        flex: 50%;

        // Margens
        margin: 5px 0;
    }
}